.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.create__form {
    position: absolute;
    color: white;
    background-color: red;
    top: 100px;
    right: -50px;
    padding: 10px 20px;
    transform: rotate(-90deg);
    cursor: pointer;
}
