.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}