.wrapper {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #0d1117;
    height: calc(100vh - 60px);
    width: 260px;
    padding: 25px;
    z-index: 999;
    transition: right 0.3s ease;
}

.arrow {
    position: absolute;
    top: 50%;
    left: -40px;
    height: 40px;
    width: 40px;
    background-color: red;
    clip-path: polygon(100% 7%, 41% 52%, 100% 100%);
    cursor: pointer;
}

.wrapper__active {
    position: fixed;
    top: 60px;
    background-color: #0d1117;
    height: calc(100vh - 60px);
    width: 260px;
    padding: 25px;
    z-index: 999;
    right: -260px;
    transition: right 0.3s ease;
}